In [1]:
import os
import pandas as pd
from datetime import datetime
import re

In [2]:
path = r'\\hkdc01\\Projects\\11-2-21-004 NLNG TRAIN 7 - HAZOP AND SIL SERVICES\\4 Execution\\Workshop\\Team 1\\Attendance\\Attendance Sheets\\Team 1'

In [3]:
list_of_csvs = os.listdir(path)

In [4]:
list_of_csvs

['meetingAttendanceList - Team 1 - 01-05-2021.csv',
 'meetingAttendanceList - Team 1 - 01-07-2021.csv',
 'meetingAttendanceList - Team 1 - 03-06-2021.csv',
 'meetingAttendanceList - Team 1 - 04-05-2021.csv',
 'meetingAttendanceList - Team 1 - 04-06-2021.csv',
 'meetingAttendanceList - Team 1 - 05-05-2021.csv',
 'meetingAttendanceList - Team 1 - 05-07-2021.csv',
 'meetingAttendanceList - Team 1 - 06-05-2021.csv',
 'meetingAttendanceList - Team 1 - 06-07-2021.csv',
 'meetingAttendanceList - Team 1 - 07-05-2021.csv',
 'meetingAttendanceList - Team 1 - 07-06-2021.csv',
 'meetingAttendanceList - Team 1 - 08-06-2021.csv',
 'meetingAttendanceList - Team 1 - 08-07-2021.csv',
 'meetingAttendanceList - Team 1 - 09-06-2021.csv',
 'meetingAttendanceList - Team 1 - 09-07-2021.csv',
 'meetingAttendanceList - Team 1 - 10-06-2021.csv',
 'meetingAttendanceList - Team 1 - 11-05-2021.csv',
 'meetingAttendanceList - Team 1 - 11-06-2021.csv',
 'meetingAttendanceList - Team 1 - 15-06-2021.csv',
 'meetingAttendanceList - Team 1 - 16-06-2021.csv',
 'meetingAttendanceList - Team 1 - 17-05-2021.csv',
 'meetingAttendanceList - Team 1 - 17-06-2021.csv',
 'meetingAttendanceList - Team 1 - 18-05-2021.csv',
 'meetingAttendanceList - Team 1 - 19-05-2021.csv',
 'meetingAttendanceList - Team 1 - 20-05-2021.csv',
 'meetingAttendanceList - Team 1 - 21-05-2021.csv',
 'meetingAttendanceList - Team 1 - 21-06-2021.csv',
 'meetingAttendanceList - Team 1 - 22-06-2021.csv',
 'meetingAttendanceList - Team 1 - 23-06-2021.csv',
 'meetingAttendanceList - Team 1 - 24-05-2021.csv',
 'meetingAttendanceList - Team 1 - 24-06-2021.csv',
 'meetingAttendanceList - Team 1 - 25-05-2021.csv',
 'meetingAttendanceList - Team 1 - 25-06-1979.csv',
 'meetingAttendanceList - Team 1 - 26-05-2021.csv',
 'meetingAttendanceList - Team 1 - 27-05-2021.csv',
 'meetingAttendanceList - Team 1 - 28-05-2021.csv',
 'meetingAttendanceList - Team 1 - 28-06-2021.csv',
 'meetingAttendanceList - Team 1 - 29-06-2021.csv',
 'meetingAttendanceList - Team 1 - 30-06-2021.csv',
 'meetingAttendanceList - Team 1 - 31-05-2021.csv']

In [5]:
sorted_csv_list = sorted(list_of_csvs, key = lambda x:datetime.strptime(re.findall(r'[0-9-]+.csv',x)[0][0:10],"%d-%m-%Y"))

In [6]:
sorted_csv_list[0]

'meetingAttendanceList - Team 1 - 25-06-1979.csv'

In [11]:
attendance_daily_df = pd.read_csv(os.path.join(path,sorted_csv_list[0]),sep = '\t')

In [12]:
attendance_daily_df

    ��N  Unnamed: 1
0   NaN         NaN
1   NaN         NaN
2   NaN         NaN
3   NaN         NaN
4   NaN         NaN
..  ...         ...
95  NaN         NaN
96  NaN         NaN
97  NaN         NaN
98  NaN         NaN
99  NaN         NaN

[100 rows x 2 columns]